form > table {
	width: 100%;
}

form > table td {
	vertical-align: middle;
}

textarea {
	width: 100%;
}

.input-label {
	width: 13em;
	text-align: right;
	white-space: nowrap;
	padding: 5px .5em;
}

.input-helper {
	width: 20%;
	max-width: 18em;
	color: #808080;
	font-style: italic;
	font-size: .9em;
	padding: 5px .5em;
}

input[type="checkbox"] {
	margin-left: 0;
}